
/* Réserve */

html  {
   --main-bg-color : rgb(128, 128,128);
   --body-bg-color:rgb(55,73,118);
   --bandeau-droit-bg-color : white; 
   --skill-bar-bg:rgba(17, 17, 17, .3);
   --skill-html-bg:#ea8564;
   --skill-css-bg:#55a69f;
   --skill-jQuery-bg: #99856d;
   --skill-JS-bg: #c44e45;
   --skill-XML-bg : #5aa669;
   --skill-PHP-bg: #5A69A6;
   --skill-SQL-bg :#23b1db;
   --texte-color: white;
   --texte-title-color:rgb(55,73,118);

   --main-font-family: 'Roboto', sans-serif;
   --title-font-family: 'Audiowide', cursive;

}




/************** conteneur ***************************/

body {
   background-color: var(--body-bg-color);
   font-family: var(--main-font-family);
}

.container{
   display: flex;
   font-size: 20px;
   font-family: var(--main-font-family);
}

header{
   display: flex;
   flex-direction: column;
}

.bandeau {
   width: 40%;
   background-color: var(--main-bg-color);
   color: var(--texte-color);
   padding-left: 2rem;
   
}

.partie-exp {
   width: 70%;
   background-color: var(--bandeau-droit-bg-color);
   padding-top: 3%;
   padding-bottom: 3%;
   padding-left: 3%;
}

.bandeau__infoskills--langage, 
.bandeau__infoskills--compétence-clé, 
.bandeau__infoskills--soft-skills,
.bandeau__infoskills--langue  li {
   list-style-type: '< > ';
   line-height: 1.7em;
}

.partie-exp li  {
   margin-left: 30px;
   width: 90%;
   line-height: 1.3em;
   text-align: justify;

}

.partie-exp li::before  {
   content: ">";
   color: var(--texte-title-color);
   font-size: larger;
   font-weight: bold;

}

.partie-exp__hobbies,
.partie-exp__exp--conteneur{
   padding: 2%;
}

.conteneur__skillBar{
   display: flex;
   flex-direction: column;
   padding: 0% 0% 0% 15%;
}

/******************** Titres **********************/

h1, h2 {
   font-family: var(--title-font-family);
   color: var( --texte-title-color);
   text-align: center;
   font-size: 40px;
   margin-bottom: 40px;
}

h3 {
   color: var(--texte-color);
   background-color: var(--texte-title-color);
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   width: 70%;
   padding: 10px;
   border-radius: 45%;
   font-family: var(--title-font-family);
   
}

/****************** Bandeau gauche*****************************/

iframe{
   padding: 2rem;
   display: block;
}
figure img {
   width: 10rem;
   height: 15rem;
   margin: -23% auto;
   position: fixed;
}

.github, .linkedin, .twitter, .mail, .tel {
   width: 36px;
   height: 36px;
   position: relative;
   margin-bottom: -11px;
}

.bandeau__infoskills__reseau {
   display: flex;
   margin-bottom: 5%;
   flex-direction: column;
   align-items: center;
}

div .box {
flex-direction: row;
align-items: center;
}

.bandeau__infoskills--social li {
   display: inline-flex;
   line-height: 3em; 

}

figure {

margin: 10% auto; 
width: 10rem;
height: 11rem;
border-radius: 50%;
transform: rotate(-2deg);
box-shadow: 0 0 20px rgba(0,0,0,0.75);  
overflow: hidden;   
}

.conteneur__infoskills{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.bandeau__infoskills{
   display: flex;
   flex-direction: column;
   align-items: center;
}


.bandeau__infoskills--coord {
   padding-bottom: 3%;
   line-height: 3rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.bandeau__infoskills--langage ,
.bandeau__infoskills--compétence-clé,
.bandeau__infoskills--soft-skills,
.bandeau__infoskills--langue {
   padding: 2rem;
   
}


.bandeau__infoskills--soft-skills,
.bandeau__infoskills--compétence-clé{
   margin-left: 6%;
}


a {
   text-decoration: none;
   color: var(--texte-color);
   line-height: 1.5em;
}

a:hover {
   color: var(--texte-title-color);
   text-shadow: 1px 1px;
}

.bandeau__infoskills--langage {
   display: flex;
   flex-direction: column;
}

/* ***************Barre de progression****************************** */
#SkillBox {
   font-size: 20px;
   font-family: var(--main-font-family);
   max-width: 95%;
   height: auto;
   margin: 20px 0 0 -36px;
   padding: 10px;
}

.SkillBar {
   width: 90%;
   height: 50px;
   position: relative;
   background: var(--skill-bar-bg);
   margin: 20px auto;
}

#Skill-HTML {
   width: 35%;
   animation: Animate-HTML 4s;
   -webkit-animation: Animate-HTML 4s;
   -moz-animation: Animate-HTML 4s;
   -o-animation: Animate-HTML 4s;
   height: 100%;
   position: absolute;
   background-color: var(--skill-html-bg);
}
@keyframes Animate-HTML {
   from {
   width: 10%;
}
to {
   width: 35%}
}


#Skill-CSS {
   animation: Animate-CSS 5s;
   -webkit-animation: Animate-CSS 5s;
   -moz-animation: Animate-CSS 5s;
   -o-animation: Animate-CSS 5s;
   width: 30%;
   height: 100%;
   position: absolute;
   background-color: var(--skill-css-bg);
}
@keyframes Animate-CSS {
   from {
   width: 10%;
}
to {
   width: 30%}
}



#Skill-JS {
   animation: Animate-JS 4s;
   -webkit-animation: Animate-JS 4s;
   -moz-animation: Animate-JS 4s;
   -o-animation: Animate-JS 4s;
   width: 25%;
   height: 100%;
   position: absolute;
   background-color: var(--skill-JS-bg);
}
@keyframes Animate-JS {
   from {
   width: 10%;
}
to {
   width: 25%}
}




#Skill-PHP {
   animation: Animate-PHP 4s;
   -webkit-animation: Animate-PHP 4s;
   -moz-animation: Animate-PHP 4s;
   -o-animation: Animate-PHP 4s;
   width: 30%;
   height: 100%;
   position: absolute;
   background-color: var(--skill-PHP-bg) ;
}
@keyframes Animate-PHP {
   from {
   width: 10%;
   }
   to {
      width: 30%}
   }


#Skill-SQL {
   animation: Animate-SQL 4s;
   -webkit-animation: Animate-SQL 4s;
   -moz-animation: Animate-SQL 4s;
   -o-animation: Animate-SQL 4s;
   width: 30%;
   height: 100%;
   position: absolute;
   background-color: var(--skill-SQL-bg);
}
@keyframes Animate-SQL {
   from {
   width: 10%;
   }
   to {
      width: 30%}
   }

/* .SkillBar img{
   width: 35%;
   position: relative;
} */

.Skill-Area-HTML,
.Skill-Area-CSS,
.Skill-Area-JS,
.Skill-Area-PHP,
.Skill-Area-SQL{
   margin-left: 4%;
}

.Skill-Area-HTML {
   margin-top: 8%;
   width: 35%;
}

.Skill-Area-CSS {
   margin-top: 8%;
   width: 40%;
}

.Skill-Area-JS{
   margin-top: 13%;
   width: 35%;
}

.Skill-Area-PHP{
   margin-top: 15%;
   width: 50%;
}

.Skill-Area-SQL{
   margin-top: 7%;
   width: 40%;
}

.PercentText {
   z-index: 3;
   position: relative;
   margin-top: 15px;
   float: right;
   text-shadow: none;
   color: var(--texte-color);
   font-family: var (--main-font-family);
   font-size: 18px;
}




/******************* Bandeau de droite*************************** */

.partie-exp__titres{
   padding: 1.5rem;
   font-weight: bold;
   color : rgb(77, 75, 75);
   font-style: oblique;
}

.partie-exp__intro--p {
   font-style: italic;
}

.partie-exp__intro{
   padding: 1%;
   line-height: 1.2em;
}


time {
   background-color: rgb(55,73,118);
   color: white;
   padding: 10px;
   border-radius: 45%;
}

/* Bas de page */

footer {
   text-decoration: none;
   color: white;
   justify-content: center;
   background-color:rgb(128, 128,128) ;
   display: flex;
   margin: 1rem 1rem 1rem 1rem;
   font-size: 20px;
   align-items: center;
   line-height: normal;
   margin-bottom: 2%;
   padding: 5% 5%;
   flex-direction: column;

}

footer a {
   text-decoration: none;
   color: white;
   padding: 0.5rem;
}

footer li {
   margin-left: 30px;
   
}


